<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %> | Ruby on Rails Tutorial Sample App</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<A HREF="../static_pages/home">Home</A> &nbsp
<A HREF="../static_pages/help">Help</A> &nbsp
<A HREF="../static_pages/contact">Contact</A> &nbsp
<A HREF="../static_pages/about">About</A>


</body>
</html>
